@import "helpers/variables";
@import "helpers/mixins";
// @import "../fonts/w19012_ic/style.css";
@import "helpers/normalize";
@import "helpers/basic";
@import "helpers/placeholders";

@import "components/list";
@import "components/buttons";

@import "layouts/grid";
@import "layouts/editor_default";

@import "pages/editor";

body {
  background: #fff;
}
.embed-responsive {
  img.cke_iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
