.breadcrumb {
  @include list-reset;
  color: $text-color2;
  margin-bottom: 1em;
  li {
    display: inline;
    vertical-align: top;
    + li::before {
      content: '> ';
    }
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: $color;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
}
@media (min-width: $screen-md-min) {
  .breadcrumb {
    margin: 0 60px 3em percentage(1042 / 1440);
  }
}
@media (min-width: $screen-lg-min) {
}
@media (min-width: $screen-xl-min) {
  .breadcrumb {
    margin-left: percentage(1522 / 1920);
  }
}
