.btn {
  @include btn-reset;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
  }
  &-primary,
  &-primary2,
  &-default {
    border: 1px solid $color5;
    padding: 0 1em 0 1.2em;
    margin: 0 0 5px;
    width: (300 / 20 + 0em);
    max-width: 100%;
    line-height: 2.5;
    @include fz(20,16);
    &:hover {
      background: none;
      color: $color5;
    }
  }
  &-primary {
    border-color: $color;
    background: $color;
    color: #fff;
    &:hover {
      color: $color;
    }
  }
  &-primary2 {
    border-color: $color2;
    background: $color2;
    color: #fff;
    &:hover {
      color: $color2;
    }
    &.outline {
      background: none;
      color: $color2;
      &:hover {
        background: $color2;
        color: #fff;
      }
    }
  }
  &-normal {
    color: $color;
    padding: 0.5em 8em 0.5em 0;
    line-height: 1.4;
    border-bottom: 1px solid $color;
    position: relative;
    max-width: 100%;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3.5px 0 3.5px 8px;
      border-color: transparent transparent transparent $color;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -3.5px;
    }
    &:hover {
      color: $color2;
      border-bottom-color: $color2;
      &:after {
        border-color: transparent transparent transparent $color2;
      }
    }
  }
  &-login-other {
    display: block;
    width: 100%;
    padding: 0 1em 0 1.2em;
    line-height: $input-height;
    margin-bottom: 1em;
    .ic {
      font-size: 1.7em;
      vertical-align: middle;
      position: relative;
      top: -0.1em;
      margin-right: 0.3em;
    }
    &.google {
      background: #F0F0F0;
    }
    &.facebook {
      background: $color-facebook;
      color: #fff;
    }
    &:hover {
      box-shadow: inset 3px 3px 10px rgba(#000,0.5);
    }
  }
  &-pure {
    color: $color;
    &:hover {
      text-decoration: underline;
    }
  }
  &-back {
    color: $color2;
  }
}
.btn-box {
  text-align: center;
  padding-top: 2.5em;
  margin: 0 -5px;
}
.btn-holder {
  text-align: center;
  margin-top: 2.5em;
  &.text-left {
    text-align: left;
  }
}

@media (min-width: $screen-sm-min) {
  .btn {
  }
}
@media (min-width: $screen-md-min) {
  .btn {
  }
}
@media (min-width: $screen-lg-min) {
}
