.field {
  display: block;
  width: 100%;
  height: $input-height;
  padding: 0 1em;
  border: 1px solid $input-border;
  margin-bottom: $input-mb;
  border-radius: $input-border-radius;
  &:focus {
    outline: none;
    border-color: $input-border-focus;
  }
  @include field-placeholder {
    color: $input-color-placeholder;
  }
}
textarea.field {
  height: auto;
  line-height: 1.4;
  padding: 0.8em 1em;
}
.static-field {
  color: $color2;
  padding: 0.75em 1em;
  line-height: 1.5;
  min-height: $input-height;
  margin-bottom: $input-mb;
  &.pure {
    padding: 0;
    min-height: 0;
  }
}
.hint,
.alert {
  margin-bottom: $input-mb;
  @include fz(14,16);
  padding: 0 1.2em;
  line-height: 1.5;
  &-danger {
    color: $color-danger;
    &::before {
      content: '!';
      display: inline-block;
      vertical-align: text-bottom;
      width: 1.5em;
      line-height: 1.5em;
      border-radius: 50%;
      background: $color-danger;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      padding-left: 0.15em;
      margin-right: 0.5em;
    }
  }
  &-success {
    color: $color-success;
  }
  .field-group + & {
    margin-bottom: 1.52em;
  }
}
.hint {
  color: $color2;
}
.has-error .field,
.has-error.field-group {
  border-color: $color-danger;
}
.has-error,
.alert-danger {
  color: $color-danger;
}
.form-group {
  line-height: $input-height;
  .label {
    display: block;
    &.color-primary {
      color: $color;
      line-height: 1.5;
      margin-bottom: 0.25em;
    }
    b {
      color: $color;
    }
  }
  .field-box {
    position: relative;
  }
  &.layout-inline {
    line-height: 1.5;
    .label,
    .field-box {
      display: inline-block;
      vertical-align: top;
    }
    .label {
      margin-right: 1em;
    }
  }
}
.radio-group {
  padding: 8px 1em 1px;
  border: 1px solid $input-border;
  border-radius: 5px;
  margin-bottom: $input-mb;
}
.form-agree {
  margin-top: 0.5em;
}
.form-radio,
.form-check {
  position: relative;
  padding-left: 1.6em;
  line-height: 1.7;
  >input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  >input + span {
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      background: no-repeat;
      background-size: 100% auto;
      position: absolute;
      left: 0;
      top: 0.15em;
    }
  }
  >input:checked + span {
    &::before {
      background-position: 0 100%;
    }
  }
  &.block {
    border: 1px solid $input-border;
    display: block;
    margin-bottom: 0.5em;
    padding: 0.6em 1em 0.6em 2.75em;
    >input + span {
      &::before {
        left: 1em;
        top: 0.95em;
      }
    }
  }
  &.inline {
    padding-left: 0;
    >input + span {
      &::before {
        position: static;
        margin: 0 0.5em 0.15em 0;
      }
    }
  }
}
.form-radio {
  input + span {
    &::before {
      background-image: url(../img/form_radio.svg);
    }
  }
}
.form-check {
  input + span {
    &::before {
      background-image: url(../img/form_checkbox.svg);
    }
  }
}
.captcha {
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid $input-border;
  text-align: center;
  background: #F9F9F9;
  padding: 0.5em 0;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  margin: 0.5em auto $input-mb;
  &.has-error {
    border-color: $color-danger;
  }
  &-box {
    max-width: 320px;
    margin: 0 auto;
    .alert {
      text-align: left;
    }
  }
  .g-recaptcha {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 0 0 2px;
    position: relative;
    background: #f9f9f9;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 4px solid #f9f9f9;
      pointer-events: none;
    }
  }
}
.form-box {
  max-width: 570px;
}
.form-btn-box {
  padding-top: 1.5em;
  letter-spacing: 1em;
  > * {
    letter-spacing: $letter-spacing-base;
  }
  .btn-group {
    padding-top: 1em;
  }
}
.reminder {
  margin-bottom: 0.5em;
  b {
    color: $color;
  }
}
.field-group {
  .label {
    display: block;
    b {
      color: $color;
    }
  }
  .control-box {
    padding: 0.75em 1em;
    height: auto;
    line-height: 1.7;
  }
  .form-radio,
  .form-check {
    display: inline-block;
    margin-right: 1em;
  }
  &.static {
    .field {
      border: 0;
    }
  }
}

.txt-divider {
  color: $text-color2;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  margin: 2em 0;
  span {
    display: inline-block;
  }
  &:before,
  &:after {
    content: '';
    display: block;
    border-top: 1px solid $color4;
    flex: 1;
  }
  &:before {
    margin-right: 0.25em;
  }
  &:after {
    margin-left: 0.25em;
  }
}
.same-box {
  margin: -0.5em 0 $input-mb;
}
.person-data {
  border: 1px solid $input-border;
  padding: 0.5em 0.75em;
  margin-bottom: 1.5em;
  .field-group {
    border-width: 0 0 1px;
    margin: 0;
    &:last-child {
      margin-bottom: -1px;
    }
  }
  .alert {
    margin: 0.5em 0;
  }
}

@media (min-width: $screen-sm-min) {
  .form-box {
    &.has-border {
      border: 2px solid #E5E5E5;
      padding: 25px 38px 38px;
    }
  }
  .form-btn-box {
    @include clearfix;
    .captcha-box {
      float: left;
      width: calc(50% - 15px);
      max-width: none;
    }
    .btn-group {
      float: right;
      padding-top: 64px;
      margin-right: -5px;
    }
  }
  .field-group {
    border: 1px solid $input-border;
    margin-bottom: 13px;
    position: relative;
    padding-left: 8em;
    &.pl2 {
      padding-left: 19em;
    }
    &.static {
      border: 0;
      margin-bottom: 0;
    }
    &:focus-within {
      border-color: $color;
    }
    .label {
      padding: 0 1em;
      position: absolute;
      left: 0;
      top: 0.5em;
    }
    .static-field,
    .field {
      border: 0;
      height: 48px;
      margin: 0;
    }
    textarea.field {
      height: auto;
    }
    .captcha {
      margin: 1em 0;
    }
    .same-box {
      position: absolute;
      right: 1em;
      top: 0.5em;
      margin: 0;
    }
  }
  .person-data {
    padding: 0 0.75em;
  }
}
@media (min-width: $screen-md-min) {
  .form-btn-box {
    .btn-group {
      padding-top: 60px;
    }
  }
}
