.msg-box {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000, 0.4);
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  padding: 1em;
  pointer-events: none;
  transition: 0.2s;
  &-open {
    overflow: hidden;
  }
  .msg-box-open &.show {
    z-index: 600;
    opacity: 1;
    pointer-events: visible;
  }
  &-close-btn {
    @include txt-hide;
    position: absolute;
    right: 1em;
    top: 1em;
    @include fz(20,16);
    width: 1em;
    height: 1em;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.2em;
      height: 1px;
      background: $text-color3;
      margin-left: -0.6em;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  &-content {
    width: 460px;
    max-width: 100%;
    margin: auto;
    position: relative;
    transform: scale(0.6) translateY(10%);
    opacity: 0;
    transition: 0.1s 0.2s;
    .msg-box-static &,
    .msg-box-open & {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
  &-inner {
    background: #fff;
    padding: 70px 35px 50px;
  }
  &-title {
    @include fz(22,16);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
    &.text-center {
      text-align: center;
    }
  }
  &-txt {
    @include fz(20,16);
    line-height: (32 / 20);
    color: $text-color3;
    small {
      @include fz(16,20);
    }
    a {
      color: $color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-btn {
    padding-top: 2em;
    .btn {
      width: 100%;
    }
  }
  &-sub {
    a {
      color: $color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-head {
    margin-bottom: 1em;
    @include clearfix;
    .msg-box-title {
      float: left;
    }
    .msg-box-sub {
      float: right;
    }
  }
  &-form {
    .btn {
      width: 100%;
    }
    .form-btn-box {
      padding: 0 0 0.5em;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .msg-box {
    &-inner {
      padding: 80px 60px 55px;
    }
    &-form {
      .field-group {
        padding-left: 6em;
      }
    }
  }
}
