.pagination {
  text-align: center;
  padding-top: 2em;
  &-control,
  &-info {
    display: inline-block;
    vertical-align: middle;
  }
  &-control {
    text-decoration: none;
    color: inherit;
    .ic {
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      border-style: solid;
      margin: 0 0.2em 0.2em;
      &.prev {
        border-width: 3.5px 8px 3.5px 0;
        border-color: transparent $color transparent transparent;
      }
      &.next {
        border-width: 3.5px 0 3.5px 8px;
        border-color: transparent transparent transparent $color;
      }
    }
    &:hover {
      color: $color;
    }
  }
  &-info {
    margin: 0 1.5em;
    > * {
      display: inline-block;
      vertical-align: middle;
    }
    .field {
      width: 2.5em;
      height: 2em;
      border-radius: 0;
      text-align: center;
      padding: 0 0.2em;
      margin: 0;
    }
  }
}
@media (min-width: $screen-lg-min) {
}
