
@media screen and (min-width: $screen-sm-min)  {
  .anime {
    visibility: hidden;
    &.anime-run {
      visibility: visible;
    }
  }
  .main-content-title.anime-run {
    @include fadeInUp($duration: 1s);
  }
  .home-sect1 .editor.anime-run,
  .home-sect2 .editor.anime-run,
  .home-sect3 .editor.anime-run,
  .home-experience-slider.anime-run,
  .home-course-slider.anime-run {
    @include fadeIn($duration: 1s, $delay: 0.3s);
  }
  // .home-intro1-list,
  // .about2-sect1-list {
  //   .item.anime-run {
  //     @include fadeInUp($duration: 0.5s);
  //     @for $i from 1 through 4 {
  //       &:nth-child(#{$i}) {
  //         animation-delay: #{$i * 0.2 - 0.1}s;
  //       }
  //     }
  //   }
  // }
}
