@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

// Body
$body-bg: #fff;

// Brands
$color: #01A7F5;
$color2: #143965;
$color3: #F8F8F8;
$color4: #BCBCBC;
$color5: #676767;
$color-success: #5cb85c;
$color-info:    #5bc0de;
$color-warning: #f0ad4e;
$color-danger:  #d9534f;

$color-line: #00C437;
$color-facebook-new: #1877f2;
$color-facebook: #3b5998;
$color-google: #db4437;
$color-instagram: #c32aa3;
$color-twitter: #1da1f2;
$color-youtube: #ff0000;
$color-pinterest: #bd081c;
$color-linkedin: #007bb5;

$font-family-sans-serif: '微軟正黑體', 'Microsoft JhengHei', '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro', '微软雅黑', 'メイリオ', '맑은 고딕', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif2: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro', '微软雅黑', 'メイリオ', '맑은 고딕', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, '思源宋體', 'source-han-serif-tc', 'PMingLiU', 'SimSun', serif;
$font-family-serif2: 'Noto Serif TC', Georgia, 'Times New Roman', Times, '思源宋體', 'source-han-serif-tc', 'PMingLiU', 'SimSun', serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-base: $font-family-sans-serif;
$font-size-base: 14px;
$font-size-pc: 16px;
$line-height-base: 2;
$text-color: #404040;
$text-color2: #8E8E8E;
$text-color3: #707070;
$letter-spacing-base: 0.05em;

$input-border: #DEDEDE;
$input-border-focus: $color;
$input-color-placeholder: $color4;
$input-height: (50 / 16 + 0em);
$input-mb: 0.5em;
$input-border-radius: 0;

$screen-xxl: 1680px;
$screen-xl: 1440px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;

$screen-xxl-min: $screen-xxl;
$screen-xl-min: $screen-xl;
$screen-lg-min: $screen-lg;
$screen-md-min: $screen-md;
$screen-sm-min: $screen-sm;
$screen-xs-min: $screen-xs;

$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-lg-max:              ($screen-xl-min - 1);

$grid-columns: 12;
$grid-gutter-width: 30px;
$container-tablet:             (720px + $grid-gutter-width);
$container-desktop:            (940px + $grid-gutter-width);
$container-large-desktop:      (1140px + $grid-gutter-width);
$container-sm:                 $container-tablet;
$container-md:                 $container-desktop;
$container-lg:                 $container-large-desktop;

$table-cell-padding: 8px;
$table-bg:           transparent !default;
$table-bg-striped:    #f5f5f5 !default;
$table-bg-hover:     #f0f0f0 !default;
$table-bg-active:    $table-bg-hover !default;
$table-border-color: #ddd !default;
